<div class="row valign-wrapper">
    <div class="col s12 valign">
        <div class="card white">
            <div class="card-content">
                <div id = "new_audit_card">
                    <%= render 'new_audit_card' %>
                </div>
            </div>
        </div>
    </div>
</div>
 
<div id="new_client_form_ajax">
<div class="row valign-wrapper">
    <div class="col s12 valign">
        <div class="card white">
            <div class="card-content">
                <%= render 'new_client_ajax' %>     
            </div>
        </div>
    </div>
</div>
</div>

