<div class="card white">
    <div class="card-content">
        Existing Areas:
        <ul class="collection">
          <% for a in @existing_areas%>
          <li class="collection-item"><%= link_to a.name, new_waste_info_path(area: a.id) %></li>
          <% end %>
        </ul>
</div>
</div>

<div class="card white">
    <div class="card-content">
        <%= render 'form', area: @area %>
    </div>
</div>

