<%= render 'form', waste_info: @waste_info %>

<div class="row">
    <%= link_to "Back", audit_path(@audit), class: "btn waves-effect waves-light #ffcdd2 red lighten-4 left" %>
    <%= link_to "Complete Area", complete_area_path(@area), data: { confirm: 'Are you sure you have recorded all waste information for this area?' }, class: "btn waves-effect waves-light right" %>
</div>