<h5>New Material Type</h5>
<%= simple_form_for(@material_type) do |f| %>
    <%= f.input :name, wrapper_html: { class: 'col s6' } %>
    <%= f.input :category, collection: WasteInfo::CATEGORIES, as: :select, wrapper_html: { class: 'col s6' } %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
