<h4><strong>Clients</strong></h4>

<div class="container">
      <div class="section">
        <div class="left-align">
          <h4><strong>Clients</strong></h4>
        
          <div class="row">
            <div class="center-align">
            <table class="striped centered">
                  <thead>
                    <tr>
                        <th >Client</th>
                        <th>Contact</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= client.name %></td>
                      <td><%= client.proper_name =%></td>
                      <td><a class="wave-effect waves-light btn"> View </a></td>
                      <td><a class="wave-effect waves-light btn"> Edit</a></td>
                      <td><a class="wave-effect waves-light btn red"> Delete</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>


        </div>
      </div>
    </div>




